fastapi==0.103.2
pydantic==2.4.2
pydantic_settings==2.0.3
python-dotenv==1.0.0
uvicorn==0.23.2
elasticsearch[async]==8.10.1
redis==5.0.1
orjson==3.9.9
uvloop==0.18.0 ; sys_platform != "win32" and implementation_name == "cpython"
