# App configuration
PROJECT_NAME=movies
DEBUG=True
SECRET_KEY=SOMETHING_REALLY_SECRET
APP_HOST=service
APP_PORT=8080

# Elastic Search configuration
ELASTIC_HOST=elastic-test
ELASTIC_PORT=9200

# Redis configuration
REDIS_HOST=redis-test
REDIS_PORT=6379